// Utility
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Clear a float with .clearfix
.clearfix {
  &::after {
    display: table;
    clear: both;
    content: ' ';
  }
}

// Float either direction
.float-left {
  float: left;
}

.float-right {
  float: right;
}
